In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model

In [3]:
df=pd.read_csv(r"C:\Users\soura\Desktop\book2.csv")

In [4]:
df

   age  height  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40     NaN     110    60000
4   45  157.48      85    70000

In [5]:
mean_height=df.height.mean()

In [6]:
mean_height

165.1

In [7]:
df.height.fillna(mean_height)

0    162.56
1    172.72
2    167.64
3    165.10
4    157.48
Name: height, dtype: float64

In [17]:
df

   age  height  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40     NaN     110    60000
4   45  157.48      85    70000

In [18]:
df.height=df.height.fillna(mean_height)

In [19]:
df

   age  height  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40  165.10     110    60000
4   45  157.48      85    70000

In [20]:
reg=linear_model.LinearRegression()

In [21]:
reg.fit(df[['age','height','weight']],df['premium'])

LinearRegression()

In [22]:
reg.coef_

array([2150.26052416, -248.45851574,  312.65291961])

In [23]:
reg.intercept_

-16827.013154824897

In [24]:
reg.predict([[27,167.56,60]])

C:\Users\soura\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([18357.48727691])