In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\soura\Desktop\Social_Network_Ads.csv")

In [4]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [29]:
x=df.iloc[:,1:5].values

In [30]:
x

array([['Male', 19, 19000, 0],
       ['Male', 35, 20000, 0],
       ['Female', 26, 43000, 0],
       ...,
       ['Female', 50, 20000, 1],
       ['Male', 36, 33000, 0],
       ['Female', 49, 36000, 1]], dtype=object)

In [31]:
y=df.iloc[:,4].values

In [32]:
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [33]:
from sklearn.preprocessing import LabelEncoder

In [34]:
le=LabelEncoder()

In [39]:
le.fit_transform(x[:,0])

array([1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 0])

In [40]:
x[:,0]=le.fit_transform(x[:,0])

In [41]:
x

array([[1, 19, 19000, 0],
       [1, 35, 20000, 0],
       [0, 26, 43000, 0],
       ...,
       [0, 50, 20000, 1],
       [1, 36, 33000, 0],
       [0, 49, 36000, 1]], dtype=object)

In [19]:
from sklearn.model_selection import train_test_split

In [42]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [43]:
len(x_train)

320

In [46]:
len(x_test)

80

In [48]:
from sklearn.naive_bayes import GaussianNB

In [49]:
model=GaussianNB()

In [50]:
model.fit(x_train,y_train)

GaussianNB()

In [51]:
model.predict(x_test)

array([1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0], dtype=int64)

In [52]:
x_test
# 1 male 0 female

array([[0, 53, 104000, 1],
       [1, 35, 20000, 0],
       [0, 36, 63000, 0],
       [0, 34, 25000, 0],
       [1, 24, 58000, 0],
       [0, 31, 34000, 0],
       [0, 47, 30000, 1],
       [1, 42, 104000, 1],
       [1, 19, 25000, 0],
       [0, 31, 15000, 0],
       [0, 33, 51000, 0],
       [0, 28, 85000, 0],
       [0, 35, 23000, 0],
       [1, 30, 87000, 0],
       [1, 32, 18000, 0],
       [1, 35, 75000, 0],
       [0, 33, 113000, 0],
       [0, 47, 49000, 1],
       [0, 37, 62000, 0],
       [0, 42, 108000, 1],
       [1, 35, 73000, 0],
       [0, 41, 72000, 0],
       [1, 45, 32000, 1],
       [0, 48, 30000, 1],
       [0, 42, 75000, 0],
       [0, 21, 16000, 0],
       [1, 59, 143000, 1],
       [0, 46, 22000, 0],
       [0, 48, 119000, 1],
       [1, 38, 51000, 0],
       [1, 37, 53000, 0],
       [0, 52, 38000, 1],
       [1, 47, 23000, 1],
       [1, 28, 89000, 0],
       [0, 27, 31000, 0],
       [1, 59, 130000, 1],
       [0, 47, 47000, 0],
       [1, 27, 90000, 0],
       [1, 23, 20000, 0],
       [0, 48, 131000, 1],
       [1, 35, 58000, 0],
       [0, 58, 95000, 1],
       [0, 28, 59000, 0],
       [1, 35, 79000, 0],
       [1, 45, 26000, 1],
       [0, 52, 21000, 1],
       [1, 39, 42000, 0],
       [0, 41, 60000, 0],
       [0, 28, 37000, 0],
       [0, 22, 27000, 0],
       [1, 26, 15000, 0],
       [0, 35, 77000, 0],
       [0, 29, 47000, 0],
       [0, 48, 134000, 1],
       [1, 35, 53000, 0],
       [0, 30, 116000, 0],
       [1, 36, 118000, 1],
       [0, 29, 83000, 0],
       [0, 31, 118000, 1],
       [0, 19, 21000, 0],
       [1, 39, 71000, 0],
       [0, 46, 96000, 0],
       [1, 36, 60000, 0],
       [0, 44, 39000, 0],
       [1, 20, 86000, 0],
       [0, 24, 89000, 0],
       [1, 46, 117000, 1],
       [0, 26, 80000, 0],
       [1, 47, 25000, 1],
       [0, 49, 141000, 1],
       [1, 30, 17000, 0],
       [0, 58, 101000, 1],
       [1, 52, 150000, 1],
       [0, 39, 79000, 0],
       [1, 48, 74000, 1],
       [0, 29, 83000, 0],
       [1, 31, 74000, 0],
       [0, 50, 88000, 1],
       [1, 19, 85000, 0],
       [1, 28, 59000, 0]], dtype=object)

In [53]:
model.score(x_test,y_test)

0.9875