In [21]:
import pandas as pd

In [22]:
df=pd.read_csv(r"C:\Users\soura\Desktop\Book1.csv")

In [23]:
df

   age   premium
0    25    18000
1    30    32000
2    35    40000
3    40    47000
4    45    55000

In [30]:
x=df['age ']

In [26]:
y=df['premium']

In [28]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: premium, dtype: int64

In [31]:
x

0    25
1    30
2    35
3    40
4    45
Name: age , dtype: int64

In [33]:
from sklearn.model_selection import train_test_split

In [38]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [39]:
x_train

2    35
0    25
3    40
1    30
Name: age , dtype: int64

In [40]:
x_test

4    45
Name: age , dtype: int64

In [41]:
y_train

2    40000
0    18000
3    47000
1    32000
Name: premium, dtype: int64

In [42]:
y_test

4    55000
Name: premium, dtype: int64